.header-bar {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 2px solid black;
  height: 4rem;
  width: 100%;

  padding: 0 1rem;
  background: white;
  z-index: 10;
}

.header-bar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
